.contenedor-contacto{
    width: 100%;
    background-color: $second-color;
    padding: 2rem;
    .texto{
        text-align: center;
        color: $blanco;
        h4{
            margin: 0;
            span{
                font-weight: 700;
                color: rgb(53, 1, 9);
            }
        }
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include tablet{
            flex-direction: row;
            justify-content: space-around;
        }
        i, a{
            font-size: 600;
            color: $blanco;
        }
    }
}
.contenedor-mapa{
    @include grid(1,0rem);
    @include tablet{
        @include grid(2,0rem);
    }
    .mapa{
        iframe{
            width: 100%;
        }
    }
    .info-contacto{
        background-color: #EDEFEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;
        h3{
            margin: 0;
        }
        p{
            text-align: center;
        }
        .icono-mapa{
            display: flex;
            justify-content: center;
            align-items: center;
            i, h4{
                font-family: $fuente_principal;
                color: $rojoI;
                font-size: 3rem;
                font-weight: 700;
            }
        }
    }
}
.footer{
    width: 100%;
    background-color: $grisOscuro;
    p{
        color: $blanco;
        text-align: center;
        font-size: 1.4rem;
    }
}