.header{
    background: linear-gradient(to right, rgba(148,1,12,1) 0%, rgba(255,15,54,1) 100%);
    padding: 2.4rem 1.6rem;
    display: flex;
    justify-content: space-around;
    .marca{
        display: flex;
        align-items: center;
        .marca-text{
            color: $blanco;
            font-weight: 700;
        }
    }
    .navegador{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            li{
                a{
                    color: $blanco;
                    font-size: 1.8rem;
                    font-weight: 600;
                    padding: 0.5rem 1rem;
                    position: relative;
                    &::before{
                        content: '';
                        width:0%;
                        height:1px;
                        position:absolute;
                        top: -0.1rem;
                        background-color: $blanco;
                        transition: 0.3s;
                    }
                    &:hover{
                        &::before{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}
