

.fondo-info{
    background-image: url("/../build/img/portadaweb.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    &.small-fondo{
        height: 20rem;
        background-image: url("/../build/img/4.jpg");
    }
    @include tablet{
        height: calc(100vh - 8rem);
        background-attachment: fixed;
    }
    .fondo-frase{
        background-color: rgba(8, 8, 8, 0.65);
        height: 100%;
        position: relative;
    }
    .frase{
        color: $blanco;
        position: absolute;
        top: 40%;
        left: 10%;
        @include tablet{
            font-size: 1.6rem;
        }
        h2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            font-size: 1.6rem;
            text-transform: uppercase;
            span{
                color: #3498db;
            }
            @include tablet{
                font-size: 2.5rem;
            }
        }
        a{
            background-color: rgba(255,15,54,1);
            color: $blanco;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            transition: 0.3s ease-in;
            &:hover{
                background-color: rgb(255, 87, 115);
            }
        }
    }
}

.contenedor-nosotros{
    width: 80%;
    margin: 0 auto;
    padding: 10rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nosotros-titulo, p{
        margin: 0;
        text-align: center;
    }
    .nosotros-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        align-items: center;
        justify-content: center;
        @include tablet{
            grid-template-columns: repeat(3, 1fr);
        }
        .info-caja{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-weight: 300;
            }
            i{
                color: $second-color;
                font-size: 8rem;
            } 
            h3{
            font-size: 2rem;
            margin: 1rem 0;
            }
            i,h3,p{
                text-align: center;
            }
        }
    }
}
.ver-mas-nosotros{
    width: 100%;
    background-color: rgba(255,15,54,1);
    padding: 2rem;
    display: flex;
    justify-content: center;
    .btn-nosotros{
        padding: 1rem 2rem;
        color: $blanco;
        font-weight: 700;
        font-size: 1.8rem;
        border-radius: 0.5rem;
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px $second-color inset, 0 0 0 0 #3498db;
        transition: all 150ms ease-in-out;
        &:hover{
            box-shadow: 0 0 10px 0 $second-color inset, 0 0 10px 4px #3498db;
        }
    }
}
.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

.contenedor-productos{
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo-productos{
        margin: 0;
    }
    
}
.productos-caja{
    @include grid(1,2rem);
    @include tablet{
        @include grid(3,2rem);
    }
    .producto{
        background-color: $blanco;
        box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
        border-radius: 0.5rem;
        overflow: hidden;
        .producto-info{
            margin: 1rem;
            font-size: 2.8rem;
        }
        a{
            position: relative;
            z-index: 5;
            display: block;
            text-align: center;
            padding: 0.5rem 0;
            width: 100%;
            background-color: $first-color;
            color: $blanco;
            font-weight: 600;
            transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
            &:hover{
                box-shadow: 0 0 40px 40px $second-color inset;
            }
        }
        img{
            transform: scale(1);
            transform: rotate(-7deg);
            transition: 0.3s;
            &:hover{
                transform: rotate(0);
                transform: scale(1.2);
            }
        }
    }
}
.contenedor-fabrica{
    background-image: url("/../build/img/fondoFabrica.webp");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    .info-fabrica{
        background-color: rgba(8, 8, 8, 0.8);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            color: $blanco;
            font-size: 2.5rem;
        }
    }
}
#slideshow-principal{
    position: relative;
    overflow: hidden;
    #progress-bar-container{
        position: absolute;
        height: 1rem;
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 100%;
        z-index: 50;
        #progress-bar{
            height: 100%;
            background-color: rgba(228, 69, 69, 0.7);
            border-radius: 0 0.3rem 0 0.3rem;
            transition: width 0.8s;
        }
    }
    #slideshow{
        position: relative;
        z-index: 40;
        height: 60rem;
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        #img2{
            //left: 100%;
            opacity: 0;
        }
        
    }
    #indicadores{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 2rem;
        z-index: 50;
    }
}
.circles{
    border: $blanco 2px solid;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 0 0.5rem 0 0.5rem;
    background-color: transparent;
    border-radius: 50%;
}
.active{
    //left: 0 !important;
    opacity: 1 !important;
    transition: all 1s;
}
.resaltado{
    background-color: rgba(228, 69, 69, 0.7);
    transition: background-color 0.8s;
}
.cliente{
    background-color: #EDEFEE;
    padding: 1rem;
    //box-shadow: 0 0.15rem 0.9rem 0 rgba(48, 48, 48, 0.15);
}
.div-clientes{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    @include tablet{
        padding: 2rem 4rem 2rem 4rem;
        @include grid(3,2rem);
    }
}
.cliente-superior{
    display: flex;
    .imagen-cliente{
        img{
            overflow: hidden;
            border-radius: 50%;
            width: 7rem;
            height: 7rem;
        }
    }
    .datos{
        margin-left: 1rem;
        h4{
            font-size: 1.6rem;
            color: dimgrey;
            margin: 0;
        }
        p{
            font-weight: 600;
            font-size: 1.4rem;
        }
        .estrellas{
            i{
                color: gold;
            }
        }
    }
}
.cliente-inferior{
    p{
        font-size: 1.5rem;
    }
}
.clientes-videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}