

.fondo-info{
    background-image: url("/../imagenes/portadaweb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 8rem);
}