.caja-mototaxis{
    margin-bottom: 2rem;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 2px #2F2F31 solid;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
    img{
        width: 30rem;
        height: 30rem;
    }
    .info{
        background-color: #EDEFEE;
        border-left: 2px solid #2F2F31;
        //padding: 2rem;
        .titulo{
            background-color: #2F2F31;
            padding: 1rem 2rem;
            h3{
                color: #FFBD59;
                font-size: 2.5rem;
                margin: 0;
                text-align: center;
            }
        }
        .feature{
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            p{
                font-size: 1.6rem;
                font-weight: 700;
                span{
                    font-weight: 400;
                }
            }
            i{
                font-size: 3rem;
                color: chartreuse;
            }
        }
        .caja-features{
            
            display: flex;
            align-items: center;
        }
    }
}