// Base
*,::before, ::after{
    box-sizing: border-box;
}

body{
    position: relative;
    //margin: $header-height 0 0 0;
    margin: 0 0 0 0;
    padding: 0 1rem;
    font-family: $fuente_principal;
    transition: .5s;

    @include tablet{
        //margin: calc(($header-height) + 1rem) 0 0 0;
        padding-left: calc(($nav-width) + 2rem);
    }
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $white-color;
    z-index: $z-fixed;
    transition: .5s;
    @include tablet{
        height: calc(($header-height) + 1rem);
        padding: 0 2rem 0 calc(($nav-width) + 2rem);
    }
}

.header__toogle{
    color: $first-color;
    font-size: 1.5rem;
    cursor: pointer;
}

.header__img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;

    @include tablet{
        width: 40px;
        height: 40px;
    }
}

.header__img img{
    width: 40px;

    @include tablet{
        width: 45px;
    }
}

/*=========NAV=========*/

.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: $nav-width;
    height: 100vh;
    background-color: $first-color;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: $z-fixed;

    @include tablet{
        left: 0;
        padding: 1rem 1rem 0 0;
    }
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo, .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
    margin-bottom: 2rem;
}

.nav__logo-icon{
    font-size: 1.25rem;
    color: $white-color;
}

.nav__logo-name{
    color: $white-color;
    font-weight: 700;
}

.nav__link{
    position: relative;
    color: $first-color-light;
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav__link:hover{
    color: $white-color;
}
.nav__icon{
    font-size: 1.25rem;
}

/* Show Navbar*/
.show{
    left: 0;

    @include tablet{
        width: calc(($nav-width) + 156px);
    }
}

.body-pd{
    padding-left: calc(($nav-width) + 1rem);

    @include tablet{
        padding-left: calc(($nav-width) + 188px);
    }
}

.active{
    color: $white-color;
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: $white-color;
}