// Base
ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-anchor: none;
    li{
        margin: 0;
        padding: 0;
        list-style: none;
        span{
            font-weight: $black;
            color: $blanco;
        }
    }
}

.flex{
    display: flex;
    //position: relative;
    
    .navbar-nav{
        display: flex;
        flex-direction: column;
        background-color: #4e73df;
        background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
        background-size: cover;
        width: 12rem;
        transition: 0.3s;
        .lateral{   
            transition: 0.5s ease-in-out;
        }
        &.ocultar{
            width: 0;
            transform: translate(-2rem,0);
            overflow: hidden;
            
        }
        @include tablet{
            width: auto;
            &.small{
                width: 12rem;
            }
            &.ocultar{
                width: auto;
                transform: translate(0);
                overflow: visible;
                
            }
        }
        p{
            color: $blanco;

        }
        &.small{
            width: 12rem;
            .sidebar-brand-text{
                display: none;
            }
            .nav-caja{
                overflow: hidden;
                opacity: 0;
                transform: scale(0.7);
                visibility: hidden;
                border-radius: 0.5rem;
                background-color: $blanco;
                position: absolute;
                top: 0;
                left: calc(10rem + 1.5rem / 2);
                z-index: 1;
                transition: 0.3s;
                &.mostrar{
                    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
                    opacity: 1;
                    transform: scale(1);
                    visibility:visible
                }   
            }  
            .nav-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: auto;
                transition: 0.3s;
                .bx-arrow{
                    display: none;
                }
                .bx-icon{
                    font-size: 2rem;
                    color: rgba(255,255,255,.5);
                }
                .span{
                    text-align: center;
                    font-size: 1.2rem;
                    color: rgba(255,255,255,.8);
                    font-weight: 600;
                }
                &:hover, &:visited, &focus, &:active{
                    .bx-icon, .span{
                        color: $blanco;
                    }
                }

            }
            .sidebar-heading{
                text-align: center;
            } 
            .lateral{
                transform: rotate(180deg);
            } 
        }
    }
}


.sidebar-brand{
    display: flex;
    padding: 2.4rem 1.6rem;
    justify-content: center;
    align-items: center;
    
    .sidebar-brand-icon{
        font-size: 3.5rem;
        color: $blanco;
    }

    .sidebar-brand-text{
        display: none;
        transition: 0.3s;
        @include tablet{
            display: block;
        }
        color: $blanco;
        font-weight: 700;
        p{
            font-size: 1.6rem;
        }
    }
}
.siderbar-divider{
    margin: 0 1.6rem 1.6rem;
    &.my-0{
        margin: 0 1.6rem 0 ;
    }
}
hr{
    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px rgba(255,50,50,0) ;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.nav-item{
    position: relative;
    color: $blanco;
    font-weight: 700;
    
    .nav-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        @include tablet{
            display: block;
            width: 22.5rem;
        }
        text-align: left;
        padding: 1.6rem;
        color: $blanco;
        &:hover, &:visited, &:focus, &:active{
            .bx-icon, .span{
                color: $blanco;
            }
        }

        .bx-icon{
            font-size: 2rem;
            @include tablet{
                font-size: 1.6rem;
            }
            color: rgba(255,255,255,.5);
            &:hover{
                color: $blanco;
            }
        }
        .span{
            font-size: 1.2rem;
            color: rgba(255,255,255,.8);
            font-weight: 600;
            @include tablet{
                font-size: 1.4rem;
                font-weight:300;
            }
        }
        .bx-arrow{
            font-size: 1.5rem;
            display: none;
            transition: 0.3s;
            @include tablet{
                display: block;
            }
            color: rgba(255,255,255,.5);
            margin: 0.8rem;
            float: right;
            vertical-align: 0;

            &.girar{
                transform: rotate(90deg);
            }
        }
    }
}

.lateral{
    margin-bottom: 1.5rem;
    visibility: hidden;
    text-align: center;
    i{
        cursor: pointer;
        padding: 1rem;
        border-radius: 50%;
        background-color: rgba(255,255,255,.2);
        font-size: 3rem;
        color: rgba(255,255,255,.5);
        &:hover{
            background-color: rgba(255,255,255,.3);
        }
    }
    @include tablet{
        visibility: visible;
    }
}

.sidebar-heading{
    color: rgba(255,255,255,.4);
    padding: 0 1.6rem;
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
    @include tablet{
        text-align: left;
    }
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contenedor{
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    background-color: $gris;
    .header{
        margin: 0;
        background-color: $white-color;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        height: 7rem;
    }
}
.menu{
    visibility: visible;
    opacity: 1;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    color: #4e73df;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    appearance: none;
    border: 0;
    background-color: $blanco;
    transition: 0.3s;
    &:hover{
        background-color: #EAECF4;
    }
    @include tablet{
        visibility: hidden;
        opacity: 0;
    }
    i{
        font-size: 2.5rem;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    height: 100%;
    .navbar-ul{
        display: flex;
        justify-content: center;
        align-items: center;
        .bloque-nav{
            border-right: 1px solid #e3e6f0;
            height: 3rem;
            margin: 0 2rem;
            width: 0;
        }
    }
    transition: 0.3s;
}
.nav-caja{
    overflow: hidden;
    opacity: 0;
    transform: scale(0.7);
    visibility: hidden;
    border-radius: 0.5rem;
    background-color: $blanco;
    position: absolute;
    top: 0;
    left: calc(10rem + 1.5rem / 2);
    z-index: 1;
    transition: 0.3s;
    &.mostrar{
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        opacity: 1;
        transform: scale(1);
        visibility:visible
    }
    @include tablet{
        left: auto;
        height: 0;
        overflow: hidden;
        margin: 0 2rem 1rem;
        position: relative;
        z-index: 1;
        transform: scale(1);
    
        &.mostrar{
            //height: 12rem;
            &.t-3{
                height: 16rem;
            }
            height: 12rem;
        }
    }
}

.nav-caja-items{
    padding: .5rem 0;
    min-width: 10rem;
    margin: 0;
    transition: 0.3s;
    @include tablet{
        margin: 0 0 0rem 0;
    }
    

    h6{
        margin: 0;
        white-space: nowrap;
        padding: .5rem 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
        color: #b7b9cc;
    }
    a{
        font-size: 1.36rem;
        font-weight: 400;
        padding: .8rem 1.4rem;
        margin: 0 .8rem;
        display: block;
        color: #3a3b45;
        text-decoration: none;
        border-radius: .35rem;
        white-space: nowrap;
        &:hover{
            background-color: #EAECF4;
        }
    }
}

.nav-item-li{
    position: relative;
    .nav-link-li{
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 0 .75rem;
        position: relative;
        .bx-nav-icon{
            font-size: 2rem;
            color: #d1d3d2;
            
        }   
        &:hover{
            .bx-nav-icon{
                color: $gris-icons;
            }
        }
        .span-li{
            position: absolute;
            transform: scale(.7);
            transform-origin: top right;
            right: -0.1rem;
            margin-top: -.9rem;
            color: #fff;
            background-color: #e74a3b;
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .35rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .img-perfil{
            width: 3.5rem;
            height: 3.5rem;
        }
        .name-link{
            display: none;
            @include tablet{
                display: block;
            }
            margin: 0 0.8rem 0 0;
            color: $gris-texto;
            font-weight: 400;
        }
    }
    .mensajes{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.7);
        transition: 0.3s;
        z-index: 1;
        &.w-100{
            width: calc(100vw - 5rem);
        }
        &.mostrar{
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        padding: 0;
        border: none;
        overflow: hidden;
        top: 6rem;
        right: -8rem; 
        width: calc(100vw - 15rem);
        border-radius: 0.5rem;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        @include tablet{
            width: 30rem;
            right: 0;
            &.w-100{
                width: 30rem;
            }
        }
        h6{
            margin: 0;
            background-color: #4e73df;
            border: 1px solid #4e73df;
            padding: 1rem 2.4rem;
            color: #fff;
            font-weight: 800;
            font-size: 1rem;
            text-transform: uppercase;
        }
        .mensaje-flex{
            display: flex;
            white-space: normal;
            padding: 0.8rem 2.4rem;
            border-left: 1px solid #e3e6f0;
            border-right: 1px solid #e3e6f0;
            border-bottom: 1px solid #e3e6f0;
            background-color: $blanco;
            line-height: 1.3rem;
            img{
                width: 4.2rem;
                height: 4.2rem;
                margin-right: 1rem;
            }
        }
    }
}

.info-mensajes{
    padding: 0.5rem 0;
    .texto-truncado{
        max-width: 20rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
        color: #3a3b45;
        text-align: inherit;
        font-size: 1.36rem;
        margin-bottom: 0.5rem;
    }
    .autor{
        color: #b7b9cc;
        font-size: 80%;
        font-weight: 300;
    }
}

.caja-perfil{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
    overflow: hidden;
    width: 15rem;
    position: absolute;
    right: 0.5rem;
    top: 6rem;
    background-color: $blanco;
    border-radius: 0.5rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    padding: 1rem 0;
    z-index: 1;
    transition: 0.3s;  
    &.quitar{
        visibility: hidden;
        opacity: 0;
        
    }
    &.mostrar{
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }  
    .perfil-item{
        display: block;
        padding: 0.4rem 2.3rem;
        &:hover{
            background-color: #EAECF4;
        }
        i{
            color: #d1d3d2;
        }
        span{
            font-size: 1.4rem;
            margin-left: .5rem;
            color: #3a3b45;
            font-weight: 400;
        }
    }
}
.divider-perfil{
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
}

.main{
    width: 100%;
    padding: 2rem;
    position: relative;
}
.logo{
    width: 5rem;
    margin-right: 0.5rem;
}