.main-titulo{
    margin: 0;
    font-size: 2.75rem;
    font-weight: 400;
    color: $grisOscuro;
    text-align: left;
}

.gestion-articulo{
    width: 100%;
    background-color: $blanco;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid #e3e6f0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    .gestion-titulo{
        background-color: #f8f9fc;
        padding: 0.8rem 1.5rem;
        border-bottom: 1px solid #e3e6f0;
        h3{
            margin: 0;
            color: #4e73df;
            font-weight: 700;
            font-size: 1.8rem;
            text-align: left;
        }
    }
    .gestion-caja{
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 1.5rem;
        &.paginador{
            justify-content: left;
            flex-direction: row;
           
        }
        &.graficos-caja{
            justify-content: center;
        }
        .graficos{
            width: 100%;
           @include tablet {
            width: 40rem;
           }
        }
        .nuevo-articulo{
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            @include tablet{
                width: auto;
            }
            background-color: #36b9cc;
            padding: 0.5rem;
            border-radius: 0.5rem;
            &.atras{
                background-color: #f6c23e;
                &:hover{
                    background-color: #f8cf69;
                }
            }
            &:hover{
                background-color: #54d2e6;
            }
            p{
                color: $blanco;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
        .icono-caja{
            font-size: 15rem;
            color: #4e73df;
        }
        .mensaje{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #858796;
        }
        .buscar-articulo{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @include tablet{
                width: auto;
            }
            label{
                color: $gris-texto;
                text-align: right;
                @include tablet{
                    text-align: left;
                }
            }
            .input-id{
                color: $gris-texto;
                font-size: 1.6rem;
                border: 1px solid #d1d3e2;
                font-weight: 400;
                border-radius: 0.5rem;
                margin-left: 0.5em;
                padding: 1rem;
                width: auto;
                &:focus{
                    outline: none;
                    border-color: #4e73df;
                }
                @include tablet{
                    width: 10rem;
                }
            }
            .input-fecha{
                width: auto;
            }
            input{
                color: $gris-texto;
                font-size: 1.6rem;
                border: 1px solid #d1d3e2;
                font-weight: 400;
                border-radius: 0.5rem;
                margin-left: 0.5em;
                padding: 1rem;
                width: auto;
                &:focus{
                    outline: none;
                    border-color: #4e73df;
                }
                
            }
        }
    }
}

.popup-img{
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    .contenido-img{
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        padding: 1rem;
        @include tablet{
            width: 40%;
        }
        width: 70%;
        transition: 0.3s ease all;
        transform: scale(0.7);
        opacity: 0;   
        img{
            width: 100%;
        } 
    }
    &.active{
        opacity: 1;
        visibility:visible;
        transform: scale(1);
        .contenido-img{
            opacity: 1;
            transform: scale(1);
        }
    }
}

.popup-stock{
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    .contenido-stock{
        display: flex;
        flex-direction: column;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        background-color: #f8f8f8;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid #e3e6f0;
        @include tablet{
            //width: 60%;
            flex-direction: row;
        }
        //width: 85%;
        transition: 0.3s ease all;
        transform: scale(0.7);
        opacity: 0;   
        img{
            width: 25rem;
            height: 25rem;
        } 
        .stock-info{
            .stock-articulo{
                background-color: #f8f9fc;
                width: 100%;
                text-align: center;
                padding: 1rem;
                border-bottom: 1px solid #e3e6f0;
                border-top: 1px solid #e3e6f0;
                @include tablet{
                    border-top: 0;
                }
                h4{
                    margin: 0;
                    color: #4e73df;
                    font-weight: 700;
                    font-size: 1.8rem;
                }
            }
            .stock-almacen{
                height: 20rem;
                background-color: $blanco;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 1rem;
                label{
                    text-align: center;
                    font-weight: 600;
                }
                input{
                    color: $gris-texto;
                    text-align: right;
                    font-size: 1.6rem;
                    border: 1px solid #d1d3e2;
                    font-weight: 400;
                    border-radius: 0.5rem;
                    margin-left: 0;
                    padding: 1rem;
                    text-align: center;
                    &:focus{
                        outline: none;
                        border-color:#4e73df;
                    }
                }
                .btn-guardar{
                    cursor: pointer;
                    &:hover{
                        background-color: #d1d1d1;
                    }
                }
                a{
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    background-color: #e74a3b;
                    color: $blanco;
                    font-weight: 600;
                    border-radius: 0.5rem;
                    text-align: center;
                    &:hover{
                        background-color: #f7766a;
                    }
                }
                &.formulario-stock{
                    margin: 0;
                }
            }
        }
    }
    .stock-img{
        border-right: 0;
        @include tablet{
            border-right: 1px solid #e3e6f0;
        }
    }
    &.active{
        opacity: 1;
        visibility:visible;
        transform: scale(1);
        .contenido-stock{
            opacity: 1;
            transform: scale(1);
        }
        .stock-img{
            opacity: 1;
            
            transform: scale(1);
        }
    }
}

.popup-asignar{
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    .contenido-asignar{
        
        
        display: flex;
        flex-direction: column;
        //box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.65);
        box-shadow: 0 0.5rem 2.5rem 0 rgba(23, 23, 24, 0.5);
        background-color: #f8f8f8;
        overflow: hidden;
        border-radius: 0.5rem;
        height: calc(100vh - 2rem);
        .tabla{
            vertical-align: middle;
        }
        .titulo{
            background-color: #4e73df;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                cursor: pointer;
                color: #d1d1d1;
                font-weight: 600;
                font-size: 2rem;
                margin-right: 1rem;
            }
            h3{
                font-size: 1.6rem;
                color: #e3e6f0;
                margin: 0 0 0 1rem;
            }
        }
        //width: 85%;
        transition: 0.3s ease all;
        transform: scale(0.7);
        //opacity: 0;   
        img{
            width: 25rem;
            height: 25rem;
        } 
    }

    &.active{
        opacity: 1;
        visibility:visible;
        transform: scale(1);
        .contenido-asignar{
            opacity: 1;
            transform: scale(1);
        }
    }
}
////////////////
.stock-almacen{
    .stock-cant{
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
            margin-right: 0.5rem;
        }
        input{
            color: $gris-texto;
            text-align: right;
            font-size: 1.6rem;
            border: 1px solid #d1d3e2;
            font-weight: 400;
            border-radius: 0.5rem;
            margin-left: 0.5em;
            padding: 1rem;
            width: 8rem;
            &:focus{
                outline: none;
                border-color: chartreuse;
            }
            @include tablet{
                width: 8rem;
            }
        }
    }
}

.form-flex{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;

    label{
        text-align: right;
        margin-right: 1rem;
    }
}


.popup-newarticulo{
    margin-top: 1rem;
    width: 100%;
    .contenido-newarticulo{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        background-color: #f8f8f8;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid #e3e6f0;
        overflow-x: auto;
        //transition: 0.3s ease all;
        //transform: scale(0.7);
        //opacity: 0;   
        .newarticulo-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f8f9fc;
            width: 100%;
            text-align: center;
            padding: 1rem;
            border-bottom: 1px solid #e3e6f0;
            h4{
                margin: 0;
                color: #4e73df;
                font-weight: 700;
                font-size: 1.8rem;
            }
            .btn-cerrar{
                text-decoration: none;
                i{
                    color: $grisOscuro;
                    cursor: pointer;
                    padding: 1rem 1rem;
                    font-size: 2rem;
                    border-radius: 50%;
                    &:hover{
                        background-color: #e6e6e6;
                    }
                }
            }
        }

        .newarticulo-info{
            background-color: $blanco;
            .formulario{
                padding: 1rem;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .asignar{
                    margin: 0;
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    gap: 1rem;
                    .btn{
                        text-align: center;
                        background-color: #4e73df;
                        padding: 0.5rem 1rem;
                        color: #e6e6e6;
                        border-radius: 0.5rem;
                        cursor: pointer;
                    }
                    @include tablet{
                        display: inline-block;
                        margin: 1rem 0;
                    }
                }
                .estadop{
                    color: rgb(51, 119, 245);
                    font-weight: 700;
                }
                input, select, textarea{
                    color: $gris-texto;
                    font-size: 1.6rem;
                    border: 1px solid #d1d3e2;
                    font-weight: 400;
                    border-radius: 0.5rem;
                    padding: 1rem;
                    &:focus{
                        outline: none;
                        border-color:cornflowerblue;
                    }
                    &::placeholder{
                        color: $gris-icons;
                    }
                    
                }
                .imagen-small{
                    padding: 1rem;
                    width: 10rem;
                }
                .btns-form{
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    input{
                        cursor: pointer;
                        &:hover{
                            background-color: #d1d1d1;
                        }
                    }
                    a{
                        padding: 0.5rem 1rem;
                        background-color: #e74a3b;
                        color: $blanco;
                        font-weight: 600;
                        border-radius: 0.5rem;
                        &:hover{
                            background-color: #f7766a;
                        }
                    }
                }
            }
        }
    }
    &.active{
        opacity: 1;
        visibility:visible;
        transform: scale(1);
        .contenido-newarticulo{
            opacity: 1;
            transform: scale(1);
        }
    }
}
.popup-updarticulo{
    width: 100%;
    margin-top: 1rem;
    .contenido-updarticulo{
        display: flex;
        flex-direction: column;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        background-color: #f8f8f8;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid #e3e6f0;
        //transition: 0.3s ease all;
        //transform: scale(0.7);
        //opacity: 0;   
        .updarticulo-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f8f9fc;
            width: 100%;
            text-align: center;
            padding: 1rem;
            border-bottom: 1px solid #e3e6f0;
            h4{
                margin: 0;
                color: #4e73df;
                font-weight: 700;
                font-size: 1.8rem;
            }
            .btn-cerrar{
                text-decoration: none;
                i{
                    color: $grisOscuro;
                    cursor: pointer;
                    padding: 1rem 1rem;
                    font-size: 2rem;
                    border-radius: 50%;
                    &:hover{
                        background-color: #e6e6e6;
                    }
                }
            }
        }

        .updarticulo-info{
            background-color: $blanco;
            .formulario{
                padding: 1rem;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                input{
                    color: $gris-texto;
                    font-size: 1.6rem;
                    border: 1px solid #d1d3e2;
                    font-weight: 400;
                    border-radius: 0.5rem;
                    padding: 1rem;
                    &:focus{
                        outline: none;
                        border-color:cornflowerblue;
                    }
                    &::placeholder{
                        color: $gris-icons;
                    }
                    
                }
                .btns-form{
                    margin-top: 1rem;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    input{
                        cursor: pointer;
                        &:hover{
                            background-color: #d1d1d1;
                        }
                    }
                    a{
                        padding: 0.5rem 1rem;
                        background-color: #e74a3b;
                        color: $blanco;
                        font-weight: 600;
                        border-radius: 0.5rem;
                        &:hover{
                            background-color: #f7766a;
                        }
                    }
                }
            }
        }
    }
    &.active{
        opacity: 1;
        visibility:visible;
        transform: scale(1);
        .contenido-updarticulo{
            opacity: 1;
            transform: scale(1);
        }
    }
}

.alerta{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: $blanco;
    border-radius: 0.5rem;
    text-align: center;
    &.error{
        background-color: #f7766a;
    }
    margin-bottom: 0.5rem;
    &:last-of-type{
        margin-bottom: 0;
    }
}

.not-visible{
    display: none;
    visibility: hidden;
}

.contenedor-accesos{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    @include tablet{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    a{
        transition: 0.3s;
    }
    a:hover{
        box-shadow: 0px 0px 0px 3px rgba(127,201,235,0.29);
    }
    .acceso-articulo{
        width: 100%;
        background-color: $blanco;
        overflow: hidden;
        border-radius: 0.5rem;
        border: 1px solid #e3e6f0;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
        .acceso-titulo{
            background-color: #f8f9fc;
            padding: 0.8rem 1.5rem;
            border-bottom: 1px solid #e3e6f0;
            h3{
                margin: 0;
                color: #4e73df;
                font-weight: 700;
                font-size: 1.8rem;
                text-align: center;
                &.verde{
                    color: #1cc88a;
                }
                &.rojo{
                    color: #e74a3b;
                }
            }
        }
        .acceso-caja{
            text-align: center;
            font-size: 15rem;
            color: #4e73df;
            &.verde{
                color: #1cc88a;
            }
            &.rojo{
                color: #e74a3b;
            }
        }
    }
}
