.contenedor-tabla{
    margin-top: 2rem;
    overflow-x: auto;
    width: 100%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    border-radius: 0.5rem 0.5rem 0 0;
    //border: 1px solid #e3e6f0;
    
}
.table{
    background-color: $blanco;
    width: 100%;
    
    border-collapse: collapse;
    font-size: 0.9em;
    
    thead{
        background-color: $second-color;
        color: $blanco;
        font-weight: $bold;
        border: 0;
    }
    th, td{
        text-align: center;
        padding: 1.2rem 0.5rem;
    }
    .th-descripcion{
        width: 40%;
    }
    .td-descripcion{
        text-align: left;
    }
    .td-img{
        cursor: pointer;
        padding: 0.5rem;
        overflow: hidden;
        .img-articulo{
            margin: 0 auto;
            width: 8rem;
            height: 8rem;
            transition: 0.3s;
        }
        &:hover{
            .img-articulo{
                transform: scale(1.3);
            }
        }
    }
    .td-stock{
        overflow: hidden;
        .td-info-stock{
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: #1cc88a;
            cursor: pointer;
            &:hover{
                background-color: #56d6a7;
            }
        }
        a{
            color: $blanco;
        }
    }
    .td-acciones{

        height: 100%;
        margin: auto 0;
    }
    .div-acciones{
        display: flex;
        justify-content: space-between;
        align-items: center;
        form{
            margin: 0;
        }
        .accion-actualizar{
            background-color: #f6c23e;
            border-radius: 50%;
            color: $blanco;
            padding: 1rem;
            &:hover{
                background-color: #fdd672
            }
        }
        .bx-eliminar{
            
            position: relative;
            background-color: #e74a3b;
            border-radius: 50%;
            color: $blanco;
            padding: 1rem;
            &:hover{
                background-color: #e4776d;
            }
            .input-eliminar{
                cursor: pointer;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                border: none;
            }
        }
    }
    tbody tr{
        border-bottom: 1px solid #dddddd;
        border-left: 1px solid #e3e6f0;
        border-right: 1px solid #e3e6f0;
    }
    tbody tr:nth-of-type(even){
        background-color: #f3f3f3;
    }
    tbody tr:last-of-type{
        border-bottom: 2px solid $second-color;
    }
    .estado{
        margin: 0;
        padding: 0.5rem;
        border-radius: 0.3rem;
        background-color: $gris;
        color: $blanco;
        font-size: 1.2rem;
        text-align: center;
        font-weight: $bold;
        &.verde{
            background-color: $verde;
        }
        &.rojo{
            background-color: $rojo;
        }
        &.azul{
            background-color: $azul;
        }
        &.naranja{
            background-color: $naranja;
        }
        &.becado{
            background: linear-gradient(135deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 2%,rgba(97,153,199,1) 17%,rgba(58,132,195,1) 36%,rgba(65,154,214,1) 63%,rgba(65,154,214,1) 63%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
        }
    }
}
// .caja-look{
//     padding: 2rem;
//     margin-top: 5rem;
//     overflow-x: auto;
//     background-color: $blanco;
//     width: 100%;
    
//     box-shadow: 0 0.1rem 0.4rem rgba(63, 63, 63, 0.459);
//     border-radius: 0.5rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     @include tablet{
//         flex-direction: row;
//     }
//     .bus1{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         @include tablet{
//             flex-direction: row;
//         }
//         .input-id{
//             margin-left: 1rem;
//             margin-right: 1rem;
//             width: 8rem;
//             height: auto;
//             font-size: 1.6rem;
//             border: 1px solid $azul;
//             background-color: $blanco;
//         }
//         .input-facultad{
//             margin: 0 1rem 0;
//         }
//     }
// }